@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --red-color: #E63946;
    --black-color: #202124;
    --light-color: #F4F4F9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
}

:where(h1, h2) {
    font-size: 36px;
    font-weight: 500;
}

h1 {
    line-height: 49px;
}

h2 {
    line-height: 43px;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/* Header */

header {
    padding: 25px 0;
}

header .header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* header :where(.mobile__menu, img.open_mobile-menu) {
    display: none;
} */

header :where(img.open_mobile-menu) {
    display: none;
}

header :where(.mobile__menu) {
    transform: translateY(-200%);
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header .logo img {
    max-width: 250px;
}

.header-menu {
    padding: 10px 0;
}

.header-menu ul {
    list-style: none;
}

.header-menu>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.header-menu ul li a {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s ease-in;
}

.header-menu ul li a:hover {
    color: var(--red-color);
}

/* Mobile+Table Media Query */

@media only screen and (min-width:320px) and (max-width:900px) {
    .header-menu>ul {
        display: none;
    }

    header hr {
        display: none;
    }

    header .header-wrapper {
        padding: 0 15px;
    }

    header .logo {
        margin-bottom: 0;
    }

    header .logo img {
        max-width: 170px;
    }

    .header-menu img.open_mobile-menu {
        display: block;
    }

    .header-menu img.open_mobile-menu {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin: 0 auto;
    }

    .mobile__menu {
        background: var(--light-color);
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        padding: 20px 0;
        min-height: 100vh;
        ;
        transform: translateY(-100%);
        transition: 1.5s ease-in-out;
    }

    .mobile__menu.active {
        transform: translateY(0);
    }

    img.close_mobile-menu {
        max-width: 25px !important;
        float: right;
        position: relative;
        top: -5px;
        right: 20px;
    }

    .mobile__menu .logo {
        display: block !important;
        margin-top: 30px;
        padding: 10px 20px;
    }

    .mobile__menu ul {
        padding: 0 20px;
    }

    .mobile__menu ul li {
        padding: 10px 0;
        border-bottom: 1px solid var(--black-color);
    }
}
