@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --red-color: #E63946;
    --black-color: #202124;
    --light-color: #F4F4F9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
}

:where(h1, h2) {
    font-size: 36px;
    font-weight: 500;
}

h1 {
    line-height: 49px;
}

h2 {
    line-height: 43px;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/* Header */

header {
    padding: 25px 0;
}

header .header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header :where(.mobile__menu) {
    display: none;
}

header :where(img.open_mobile-menu) {
    display: none;
}

header :where(.mobile__menu) {
    transform: translateY(-200%);
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header .logo img {
    max-width: 250px;
}

.header-menu {
    padding: 10px 0;
}

.header-menu ul {
    list-style: none;
}

.header-menu>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.header-menu ul li a {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s ease-in;
}

.header-menu ul li a:hover {
    color: var(--red-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.category-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 20px;
}

.category-row .category {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.category .img img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    object-fit: cover;
}

.article-row>img {
    width: 100%;
}

.meta_info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.meta_info .tags a {
    border: 1px solid var(--black-color);
    padding: 5px 20px;
    color: var(--black-color);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.meta_info .tags a:hover {
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

.meta_info .tags a {
    margin: 0 5px;
}

.meta_info .tags a:first-child {
    margin-left: 0;
}

.meta_info .tags a:last-child {
    margin-right: 0;
}

.article-row .header {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: self-start;
    justify-items: end;
}

.button_icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--black-color);
}

.button_icon>img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/* Latest News */
.latest_news {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_title {
    display: flex;
    justify-content: space-between;
}

.latest_news .two__col-lay {
    margin-top: 30px;
    margin-bottom: 30px;
}

.two__col-lay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.side_news {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news_temp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.news_temp .img>img {
    width: 100%;
}

.three__col-lay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

img {
    width: 100%;
}

.main_news {
    position: relative;
}

.main_news .news .img {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.main_news .news .img img {
    max-height: 472px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.main_news .news .content {
    border-radius: 0.5rem;
    height: 100%;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: auto;
    align-content: flex-start;
    justify-content: end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.37) 0%, rgba(0, 0, 0, 0.78) 100%);
    padding: 1rem;
    color: var(--light-color);
}

.main_news .content h3 {
    margin-bottom: 1rem;
}

.main_news .content h3>a {
    color: var(--light-color);
    font-size: 1.2rem;
    text-decoration: underline;
    transition: 0.25s ease-in-out;
}

.main_news .content h3:hover a {
    color: var(--red-color);
}

:where(.side_news, .three__col-lay .news_temp) .content h3 {
    margin-bottom: 0.5rem;
}

.side_news .news_temp img {
    border-radius: 0.5rem;
}

:where(.side_news, .three__col-lay .news_temp, .technology_news .news, .world_news .side__news) .content h3>a {
    font-size: 1rem;
    color: var(--color-black);
    transition: 0.25s ease-in-out;
}

:where(.side_news, .three__col-lay .news_temp, .technology_news .news, .world_news .side__news) .content h3:hover a {
    color: var(--red-color);
}

.three__col-lay .news_temp {
    display: block;
}

.three__col-lay .news_temp .img>img {
    border-radius: 0.5rem;
}

.three__col-lay .news_temp .content {
    margin-top: 1rem;
}

/* World News */
.world_news {
    padding-top: 30px;
    padding-bottom: 30px;
}

:where(.world_news) .rows__news {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 30px;
    row-gap: 30px;
}

.world_news :where(.main__news img, .side__news .img img) {
    border-radius: 15px;
}


:where(.world_news) .side__news {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

:where(.world_news) .rows__news .main__news {
    position: relative;
    padding: 30px;
}

:where(.world_news) .rows__news .main__news img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 565px;
    object-fit: cover;
    top: 0;
    left: 0;
}

:where(.world_news) .main__news .content {
    max-width: 350px;
    background-color: var(--light-color);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 13rem;
}

:where(.world_news) .side__news .content>p {
    margin-bottom: 0.75rem;
}

:where(.world_news) .main__news ._date {
    background-color: var(--black-color);
    color: var(--light-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

:where(.world_news) .main__news ._date:hover {
    background-color: var(--red-color);
}

:where(.world_news) .main__news h2 {
    margin-top: 30px;
}

/* Technology Section */
:where(.technology_news) {
    padding-top: 30px;
    padding-bottom: 30px;
}

:where(.technology_news) .col__four-lay {
    margin-top: 30px;
}

.col__four-lay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.news .img img {
    border-radius: 10px;
}

:where(.technology_news) .news .content {
    margin-top: 0.75rem;
}

:where(.technology_news) .news .content>p {
    margin-bottom: 0.75rem;
}

/* Podcast */
:where(.podcast) {
    padding-top: 30px;
    padding-bottom: 30px;
}

:where(.podcast) .three__col-lay {
    margin-top: 30px;
}

:where(.podcast) .news-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

:where(.podcast) .news-layout h4>a {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0.75rem;
    color: var(--black-color);
    transition: color 0.5s ease-in-out;
}

:where(.podcast) .news-layout h4:hover a {
    color: var(--red-color);
}

:where(.podcast) .news-layout h4 {
    margin-bottom: 0.25rem;
}

:where(.podcast) .news-layout p:not(p:has(span)) {
    margin-bottom: 0.75rem;
}

:where(.podcast) .news-layout p:has(span) {
    font-size: 12px;
}

:where(.podcast) .news-layout .img>img {
    border-radius: 10px;
}

/* Footer */
footer {
    padding: 30px 15px;
}

:where(footer) .footer-logo img {
    max-width: 300px;
}

:where(footer) .footer-copy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
}

:where(footer) .social-icons ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

/* Single News */
:where(.single-news) .featured-image {
    padding-top: 20px;
    padding-bottom: 30px;
}

:where(.single-news) .author-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

:where(.single-news) .author-details img {
    max-width: 150px;
}

:where(.single-news) .content_copy {
    padding: 1.5rem 0;
}

:where(.single-news) .content_copy h1 {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 1rem;
}

:where(.single-news) .content_copy p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 1rem;
}

:where(.single-news) .content_copy>hr {
    margin-bottom: 1rem;
}

:where(.single-news) .content_copy ul {
    margin-left: 25px;
}

/* Mobile+Table Media Query */

@media only screen and (min-width:320px) and (max-width:900px) {
    .header-menu>ul {
        display: none;
    }

    header hr {
        display: none;
    }

    header .header-wrapper {
        padding: 0 15px;
    }

    header .logo {
        margin-bottom: 0;
    }

    header .logo img {
        max-width: 170px;
    }

    .header-menu img.open_mobile-menu {
        display: block;
    }

    .header-menu img.open_mobile-menu {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin: 0 auto;
    }

    .mobile__menu {
        display: block;
        background: var(--light-color);
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        padding: 20px 0;
        min-height: 100vh;
        ;
        transform: translateY(-100%);
        transition: 1.5s ease-in-out;
    }

    .mobile__menu.active {
        transform: translateY(0);
    }

    img.close_mobile-menu {
        max-width: 25px !important;
        float: right;
        position: relative;
        top: -5px;
        right: 20px;
    }

    .mobile__menu .logo {
        display: block !important;
        margin-top: 30px;
        padding: 10px 20px;
    }

    .mobile__menu ul {
        padding: 0 20px;
    }

    .mobile__menu ul li {
        padding: 10px 0;
        border-bottom: 1px solid var(--black-color);
    }
}

@media only screen and (min-width:601px) and (max-width:900px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    :where(.hero) .category-row {
        grid-template-columns: repeat(2, 1fr);
    }

    :where(.hero) .category-row .img img {
        max-width: 100%;
        height: 150px;
    }

    :where(.podcast) .three__col-lay {
        grid-template-columns: repeat(2, 1fr);
    }

    :where(.world_news) .rows__news {
        grid-template-columns: none;
    }

    :where(.world_news) .side__news {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    :where(.world_news) .side__news .content h3 {
        line-height: 14px;
    }

    :where(.world_news) .side__news .content h3>a {
        font-size: 12px;
    }

    :where(.world_news) .side__news .content>p {
        margin-bottom: 0.25rem;
        font-size: 12px;
        line-height: 14px;
    }

    :where(.main_news) .news .content {
        min-height: 350px !important;
    }

    :where(.main_news) .news .img img {
        max-height: 380px !important;
    }

}

@media only screen and (min-width:320px) and (max-width:600px) {
    h1 {
        font-size: 30px;
        line-height: 35px;
    }

    h2 {
        font-size: 28px;
        line-height: 35px;
    }

    section {
        padding-left: 15px;
        padding-right: 15px;
    }

    :where(.hero) .category-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-row .category .content>h3 {
        font-size: 14px;
    }

    .category-row .category .content>p {
        font-size: 12px;
        line-height: 16px;
    }

    :where(.latest_news) .two__col-lay {
        grid-template-columns: none;
    }

    :where(.world_news) .rows__news {
        grid-template-columns: none;
    }

    :where(.technology_news) .col__four-lay {
        grid-template-columns: repeat(2, 1fr);
    }

    :where(.podcast) .three__col-lay {
        grid-template-columns: none;
    }

    :where(footer) .footer-logo img {
        max-width: 200px;
    }

    :where(footer) .footer-logo {
        margin-bottom: 1rem;
    }

    :where(footer) .footer-copy {
        grid-template-columns: none;
        row-gap: 20px;
    }

    :where(footer) .social-icons ul>li>a>img {
        max-width: 25px !important;
        height: 25px;
        object-fit: contain;
    }

    /* Single-News */
    :where(.single-news) .featured-image {
        padding-top: 0;
    }

    :where(.single-news) .author-details {
        gap: 0.5rem;
        padding: 1rem 0;
    }

    :where(.single-news) .content_copy h1 {
        font-size: 35px;
        line-height: 40px;
    }

    :where(.single-news) .content_copy p {
        line-height: 20px;
        font-weight: 200;
    }
}
